USE [BanOto]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[ma_chi_tiet] [varchar](50) NOT NULL,
	[ma_hoa_don] [varchar](50) NULL,
	[item_id] [varchar](50) NULL,
	[so_luong] [int] NULL,
 CONSTRAINT [PK_chi_tiet_hoa_don] PRIMARY KEY CLUSTERED 
(
	[ma_chi_tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_email] [varchar](100) NOT NULL,
	[customer_password] [varchar](150) NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[ma_hoa_don] [varchar](50) NOT NULL,
	[ho_ten] [nvarchar](150) NULL,
	[dia_chi] [nvarchar](250) NULL,
 CONSTRAINT [PK_hoa_don] PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_id] [varchar](50) NOT NULL,
	[item_group_id] [varchar](50) NULL,
	[item_name] [nvarchar](150) NULL,
	[item_image] [varchar](250) NULL,
	[item_price] [float] NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_group]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_group](
	[parent_item_group_id] [varchar](50) NULL,
	[item_group_id] [varchar](50) NOT NULL,
	[item_group_name] [nvarchar](250) NULL,
	[seq_num] [smallint] NULL,
	[url] [varchar](150) NULL,
 CONSTRAINT [PK_item_group] PRIMARY KEY CLUSTERED 
(
	[item_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[news_id] [varchar](50) NOT NULL,
	[title] [nvarchar](150) NULL,
	[content_news] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
 CONSTRAINT [PK_news] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [varchar](50) NOT NULL,
	[hoten] [nvarchar](150) NULL,
	[ngaysinh] [date] NULL,
	[diachi] [nvarchar](250) NULL,
	[gioitinh] [nvarchar](30) NULL,
	[email] [varchar](150) NULL,
	[taikhoan] [varchar](30) NULL,
	[matkhau] [varchar](60) NULL,
	[role] [varchar](30) NULL,
	[image_url] [varchar](300) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[chi_tiet_hoa_don] ([ma_chi_tiet], [ma_hoa_don], [item_id], [so_luong]) VALUES (N'0058a750-9014-40c1-a911-738a8fb8db23', N'94b97bb1-7a7b-4fed-ab25-2df569537e5c', N'80537b17-305e-4081-96e8-f135156f6e90', 10)
INSERT [dbo].[chi_tiet_hoa_don] ([ma_chi_tiet], [ma_hoa_don], [item_id], [so_luong]) VALUES (N'0a7b1e7f-514b-460d-8168-49e8b3ea71e1', N'200ffd4f-c374-4f6a-ab29-c003c81f1548', N'4b4625ea-69ea-4ece-b378-e76eb941a954', 1)
INSERT [dbo].[chi_tiet_hoa_don] ([ma_chi_tiet], [ma_hoa_don], [item_id], [so_luong]) VALUES (N'0afb46bd-035e-4879-a988-e31022760c1b', N'2c821272-c34d-44dd-9bd3-81325f618975', N'b505bb7c-ed7c-4e34-9811-cd9f40ae2acc', 500)
GO
INSERT [dbo].[customer] ([customer_email], [customer_password]) VALUES (N'abc@gmail.com', N'1111111')
INSERT [dbo].[customer] ([customer_email], [customer_password]) VALUES (N'abc@utehy.edu.vn', N'123456')
INSERT [dbo].[customer] ([customer_email], [customer_password]) VALUES (N'dfds@gamil.com', N'222345')
GO
INSERT [dbo].[hoa_don] ([ma_hoa_don], [ho_ten], [dia_chi]) VALUES (N'05846d0f-9d86-49f5-b699-e04c9a59eed0', N'Hoa đơn lớp 66666 mới hơn nữa', N'P503 6666')
INSERT [dbo].[hoa_don] ([ma_hoa_don], [ho_ten], [dia_chi]) VALUES (N'06a395c0-c1d7-45f9-83fb-16505a6eaca3', N'KKKKK', N'P503 XXXXXXmới')
INSERT [dbo].[hoa_don] ([ma_hoa_don], [ho_ten], [dia_chi]) VALUES (N'0f611322-a52b-43fc-80c2-e8a6e3ec6c2e', N'ZZZZZZZ', N'XXX')
GO
INSERT [dbo].[item] ([item_id], [item_group_id], [item_name], [item_image], [item_price]) VALUES (N'239a9d3b-f899-4f75-bbbf-7da496bd8b3b', N'1b2f3b32-d006-4ed8-ab0c-099fd86aa6dd', N'1122', N'anha', 666)
INSERT [dbo].[item] ([item_id], [item_group_id], [item_name], [item_image], [item_price]) VALUES (N'2635ba9d-eee9-4c09-9ce5-d223879fa4c2', N'1b2f3b32-d006-4ed8-ab0c-099fd86aa6dd', N'99999999999999999999999', N'9.jbg', 9999)
INSERT [dbo].[item] ([item_id], [item_group_id], [item_name], [item_image], [item_price]) VALUES (N'2684b69c-d8ee-4529-8c00-15ff3f1c5443', N'1b2f3b32-d006-4ed8-ab0c-099fd86aa6dd', N'kkkkkkkkkkkkkk', N'xxxx.jbg', 22222)
GO
INSERT [dbo].[item_group] ([parent_item_group_id], [item_group_id], [item_group_name], [seq_num], [url]) VALUES (N'b1e07672-95c7-4f64-abaa-43fb85657db2', N'1765fb7d-da43-4d3c-b8f0-070f84228e0c', N'Mục 12', 12, NULL)
INSERT [dbo].[item_group] ([parent_item_group_id], [item_group_id], [item_group_name], [seq_num], [url]) VALUES (N'b1e07672-95c7-4f64-abaa-43fb85657db2', N'1b2f3b32-d006-4ed8-ab0c-099fd86aa6dd', N'Mục 11', 11, NULL)
INSERT [dbo].[item_group] ([parent_item_group_id], [item_group_id], [item_group_name], [seq_num], [url]) VALUES (NULL, N'4a12aa7a-8604-4ce3-a223-35f729b2ceec', N'Mục 2', 2, NULL)
GO
INSERT [dbo].[news] ([news_id], [title], [content_news], [created_date]) VALUES (N'6ca6e66d-42d4-45dc-aa09-645a5b107031', N'22222222', N'44444444444444444444444444', CAST(N'2021-04-20T09:23:05.853' AS DateTime))
GO
INSERT [dbo].[user] ([user_id], [hoten], [ngaysinh], [diachi], [gioitinh], [email], [taikhoan], [matkhau], [role], [image_url]) VALUES (N'0b65c7dc-8ada-4fb8-932c-96c374bbe472', N'99999999999999999999999999999999', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'upload/276146768_3093757940837907_6133343523004851881_n.jpg')
INSERT [dbo].[user] ([user_id], [hoten], [ngaysinh], [diachi], [gioitinh], [email], [taikhoan], [matkhau], [role], [image_url]) VALUES (N'14f9e3a7-c30b-4105-b75a-055d9c419ce8', N'YYYYYY', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'upload/375663054_304797318808045_81087423425090772_n.jpg')
INSERT [dbo].[user] ([user_id], [hoten], [ngaysinh], [diachi], [gioitinh], [email], [taikhoan], [matkhau], [role], [image_url]) VALUES (N'14ff5489-9b84-4bd4-801d-55374bdbe15b', N'Nguyễn Minh Khôi', CAST(N'2020-10-12' AS Date), N'hưngyene', N'Nam', N'khoi@gmail.com', N'khoi', N'123456', N'Admin', N'assets/images/Screenshot (4).png')
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_chi_tiet_hoa_don_hoa_don] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[hoa_don] ([ma_hoa_don])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK_chi_tiet_hoa_don_hoa_don]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_chi_tiet_hoa_don_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK_chi_tiet_hoa_don_item]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_item_item_group1] FOREIGN KEY([item_group_id])
REFERENCES [dbo].[item_group] ([item_group_id])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_item_item_group1]
GO
/****** Object:  StoredProcedure [dbo].[sp_customer_create]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[sp_customer_create]
(@customer_email              VARCHAR(100), 
 @customer_password          VARCHAR(150)  
)
AS
    BEGIN
      INSERT INTO customer
                (customer_email, 
                 customer_password)
                VALUES
                (@customer_email, 
                 @customer_password);
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_create]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_hoa_don_create]
(@ma_hoa_don              VARCHAR(50), 
 @ho_ten          NVARCHAR(150), 
 @dia_chi          NVARCHAR(250),  
 @listjson_chitiet NVARCHAR(MAX)
)
AS
    BEGIN
        INSERT INTO hoa_don
                (ma_hoa_don, 
                 ho_ten, 
                 dia_chi               
                )
                VALUES
                (@ma_hoa_don, 
                 @ho_ten, 
                 @dia_chi
                );
        IF(@listjson_chitiet IS NOT NULL)
            BEGIN
                INSERT INTO chi_tiet_hoa_don
                (ma_chi_tiet, 
                    ma_hoa_don, 
                    item_id, 
                    so_luong                       
                )
                SELECT JSON_VALUE(p.value, '$.ma_chi_tiet'), 
                        @ma_hoa_don, 
                        JSON_VALUE(p.value, '$.item_id'), 
                        JSON_VALUE(p.value, '$.so_luong')    
                FROM OPENJSON(@listjson_chitiet) AS p;
        END;
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_delete]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_hoa_don_delete]
(@ma_hoa_don              varchar(50) 
)
AS
    BEGIN
		delete from [chi_tiet_hoa_don] where ma_hoa_don = @ma_hoa_don;
		delete from [hoa_don] where ma_hoa_don = @ma_hoa_don;
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_get_by_id]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_hoa_don_get_by_id](@ma_hoa_don VARCHAR(50))
AS
    BEGIN
        SELECT h.ma_hoa_don, 
               h.ho_ten, 
               h.dia_chi,
			   	(
					SELECT 
						c.ma_chi_tiet,
						c.ma_hoa_don,
						c.item_id,
						c.so_luong
						--i.item_name
					FROM chi_tiet_hoa_don AS c
					--Join item i on c.item_id = i.item_id
					WHERE c.ma_hoa_don = h.ma_hoa_don FOR JSON PATH
				) AS listjson_chitiet
        FROM hoa_don h
      where  h.ma_hoa_don = @ma_hoa_don;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_search]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

create PROCEDURE [dbo].[sp_hoa_don_search] (@page_index  INT, 
                                       @page_size   INT,
									   @hoten Nvarchar(150),
									   @diachi Nvarchar(250)
									   )
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY ho_ten ASC)) AS RowNumber, 
                              h.ma_hoa_don, 
                              h.ho_ten, 
							  h.dia_chi                               
                        INTO #Results1
                        FROM [hoa_don] AS h
					    WHERE  (@hoten = '' Or h.ho_ten like N'%'+@hoten+'%') and	
						(@diachi = '' Or h.dia_chi like N'%'+@diachi+'%');                  
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                              ORDER BY ho_ten ASC)) AS RowNumber, 
                              h.ma_hoa_don, 
                              h.ho_ten, 
							  h.dia_chi                               
                        INTO #Results2
                        FROM [hoa_don] AS h
					    WHERE  (@hoten = '' Or h.ho_ten like N'%'+@hoten+'%') and	
						(@diachi = '' Or h.dia_chi like N'%'+@diachi+'%');                        
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_hoa_don_update]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_hoa_don_update]
(@ma_hoa_don              VARCHAR(50), 
 @ho_ten          NVARCHAR(150), 
 @dia_chi          NVARCHAR(250),  
 @listjson_chitiet NVARCHAR(MAX)
)
AS
    BEGIN
		UPDATE hoa_don
		SET
			ho_ten = @ho_ten,
			dia_chi = @dia_chi
		WHERE ma_hoa_don = @ma_hoa_don;
		
		IF(@listjson_chitiet IS NOT NULL) 
		BEGIN
			 -- Insert data to temp table 
		   SELECT
			  JSON_VALUE(p.value, '$.ma_chi_tiet') as ma_chi_tiet,
			  JSON_VALUE(p.value, '$.ma_hoa_don') as ma_hoa_don,
			  JSON_VALUE(p.value, '$.item_id') as item_id,
			  JSON_VALUE(p.value, '$.so_luong') as so_luong,
			  JSON_VALUE(p.value, '$.status') AS status 
			  INTO #Results 
		   FROM OPENJSON(@listjson_chitiet) AS p;
		 
		 -- Insert data to table with STATUS = 1;
			INSERT INTO chi_tiet_hoa_don (ma_chi_tiet,ma_hoa_don,item_id,so_luong) 
			   SELECT
				  #Results.ma_chi_tiet,
				  @ma_hoa_don,
				  #Results.item_id,
				  #Results.so_luong			 
			   FROM  #Results 
			   WHERE #Results.status = '1' 
			
			-- Update data to table with STATUS = 2
			  UPDATE chi_tiet_hoa_don 
			  SET
				 so_luong = #Results.so_luong
			  FROM #Results 
			  WHERE  chi_tiet_hoa_don.ma_chi_tiet = #Results.ma_chi_tiet AND #Results.status = '2';
			
			-- Delete data to table with STATUS = 3
			DELETE C
			FROM chi_tiet_hoa_don C
			INNER JOIN #Results R
				ON C.ma_chi_tiet=R.ma_chi_tiet
			WHERE R.status = '3';
			DROP TABLE #Results;
		END;
        SELECT '';
    END;
	
GO
/****** Object:  StoredProcedure [dbo].[sp_item_all]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[sp_item_all]
AS
    BEGIN
        SELECT item.item_id, 
               item.item_group_id, 
               item.item_image, 
			   item.item_name, 
			   item.item_price                         
        FROM item 
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_item_create]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_item_create]
(@item_id             VARCHAR(50), 
 @item_group_id       VARCHAR(50), 
 @item_image          VARCHAR(250), 
 @item_name           NVARCHAR(150),    
 @item_price          float  
)
AS
    BEGIN
      INSERT INTO item
                (item_id, 
                 item_group_id, 
                 item_image, 
                 item_name, 
                 item_price                 
                )
                VALUES
                (@item_id, 
                 @item_group_id, 
                 @item_image, 
                 @item_name, 
                 @item_price 
                );
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_item_get_by_id]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sp_item_get_by_id](@item_id VARCHAR(50))
AS
    BEGIN
        SELECT item.item_id, 
               item.item_group_id, 
               item.item_image, 
			   item.item_name, 
			   item.item_price                         
        FROM item
      where  item.item_id = @item_id;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_item_group_get_data]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_item_group_get_data]
AS
    BEGIN
        SELECT item_group.parent_item_group_id, 
               item_group.item_group_id, 
               item_group.item_group_name, 
               item_group.seq_num,
			   item_group.url
        FROM item_group
        ORDER BY item_group.seq_num;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_item_search]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[sp_item_search] (@page_index  INT, 
                                       @page_size   INT,
									   @item_group_id Nvarchar(50),
									   @item_name Nvarchar(150)
									   )
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY item_name ASC)) AS RowNumber, 
                              i.item_id, 
                              i.item_group_id, 
                              i.item_name , 
                              i.item_image, 
                              i.item_price
                        INTO #Results1
                        FROM [item] AS i
					    WHERE  (@item_name = '' Or i.item_name like N'%'+@item_name+'%') and						
						(@item_group_id = null or @item_group_id = '' or i.item_group_id = @item_group_id);                   
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                               ORDER BY item_name ASC)) AS RowNumber, 
                              i.item_id, 
                              i.item_group_id, 
                              i.item_name , 
                              i.item_image, 
                              i.item_price
                        INTO #Results2
                        FROM [item] AS i
						WHERE  (@item_name = '' Or i.item_name like N'%'+@item_name+'%') and						
						(@item_group_id = null or @item_group_id = '' or i.item_group_id = @item_group_id);        
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_news_create]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[sp_news_create]
(@news_id              varchar(50), 
 @title          nvarchar(150) ,
 @content_news          nvarchar(max)    
)
AS
    BEGIN
      INSERT INTO [news]
                (
				 	 news_id               , 
					 title           ,
					 content_news          ,
					 created_date           
				 
				)
                VALUES
                (
				 @news_id               , 
				 @title           ,
				 @content_news          ,
				  GETDATE() 
				);
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_create]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_create]
(@user_id              varchar(50), 
 @hoten          nvarchar(150) ,
 @ngaysinh         date  ,
 @diachi          nvarchar(250)  ,
 @gioitinh         nvarchar(30)  ,
 @email          varchar(150) ,
 @taikhoan         varchar(30) ,
 @matkhau         varchar(60)  ,
 @role          varchar(30) ,
 @image_url varchar(300) 
)
AS
    BEGIN
      INSERT INTO [user]
                (
				 	 [user_id]               , 
					 hoten           ,
					 ngaysinh          ,
					 diachi           ,
					 gioitinh           ,
					 email           ,
					 taikhoan         ,
					 matkhau           ,
					 role    ,
					 image_url
				)
                VALUES
                (
				 @user_id               , 
				 @hoten           ,
				 @ngaysinh          ,
				 @diachi           ,
				 @gioitinh           ,
				 @email           ,
				 @taikhoan         ,
				 @matkhau           ,
				 @role ,
				 @image_url
				);
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_user_delete]
(@user_id              varchar(50) 
)
AS
    BEGIN
		delete from [user] where user_id = @user_id;
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_id]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_get_by_id](@user_id VARCHAR(50))
AS
    BEGIN
        SELECT  [user_id]               , 
					 hoten           ,
					 ngaysinh          ,
					 diachi           ,
					 gioitinh           ,
					 email           ,
					 taikhoan         ,
					 matkhau           ,
					 role      ,
					 image_url  
        FROM [user]
      where  [user_id] = @user_id;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_username_password]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_get_by_username_password](@taikhoan varchar(30), @matkhau varchar(60))
AS
    BEGIN
        SELECT  [user_id]               , 
					 hoten           ,
					 ngaysinh          ,
					 diachi           ,
					 gioitinh           ,
					 email           ,
					 taikhoan         ,
					 role      ,
					 image_url  
        FROM [user]
      where  taikhoan = @taikhoan and matkhau = @matkhau ;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_search]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_search] (@page_index  INT, 
                                       @page_size   INT,
									   @hoten nvarchar(150),
									    @taikhoan varchar(30)
									   )
AS
    BEGIN
        DECLARE @RecordCount BIGINT;
        IF(@page_size <> 0)
            BEGIN
                SET NOCOUNT ON;
                        SELECT(ROW_NUMBER() OVER(
                              ORDER BY u.hoten ASC)) AS RowNumber, 
                             u.user_id              , 
							 u.hoten           ,
							 u.ngaysinh          ,
							 u.diachi           ,
							 u.gioitinh           ,
							 u.email           ,
							 u.taikhoan         ,
							 u.matkhau           ,
							 u.role  ,
							 u.image_url  
                        INTO #Results1
                        FROM [user] AS u
						WHERE (u.taikhoan <> 'Admin') and ((@hoten = '') OR (u.hoten LIKE '%' + @hoten + '%')) and  ((@taikhoan = '') OR (u.taikhoan = @taikhoan));
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results1;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results1
                        WHERE ROWNUMBER BETWEEN(@page_index - 1) * @page_size + 1 AND(((@page_index - 1) * @page_size + 1) + @page_size) - 1
                              OR @page_index = -1;
                        DROP TABLE #Results1; 
            END;
            ELSE
            BEGIN
                SET NOCOUNT ON;
                         SELECT(ROW_NUMBER() OVER(
                              ORDER BY u.hoten ASC)) AS RowNumber, 
                             u.user_id              , 
							 u.hoten           ,
							 u.ngaysinh          ,
							 u.diachi           ,
							 u.gioitinh           ,
							 u.email           ,
							 u.taikhoan         ,
							 u.matkhau           ,
							 u.role     ,
							 u.image_url  
                        INTO #Results2
                        FROM [user] AS u
						WHERE (u.taikhoan <> 'Admin') and ((@hoten = '') OR (u.hoten LIKE '%' + @hoten + '%')) and  ((@taikhoan = '') OR (u.taikhoan = @taikhoan));
                        SELECT @RecordCount = COUNT(*)
                        FROM #Results2;
                        SELECT *, 
                               @RecordCount AS RecordCount
                        FROM #Results2;
                        DROP TABLE #Results2;
        END;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_update]    Script Date: 11/19/2025 9:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_update]
(@user_id              varchar(50), 
 @hoten          nvarchar(150) ,
 @ngaysinh         date  ,
 @diachi          nvarchar(250)  ,
 @gioitinh         nvarchar(30)  ,
 @email          varchar(150) ,
 @taikhoan         varchar(30) ,
 @matkhau         varchar(60)  ,
 @role          varchar(30),
 @image_url         varchar(300)
)
AS
    BEGIN
   update [user] set 
				hoten= @hoten    ,     
				taikhoan= @taikhoan  ,   
				ngaysinh= @ngaysinh          ,
				diachi= @diachi           ,
				gioitinh= @gioitinh           ,
				email= @email           ,
				matkhau = @matkhau           ,
				role= @role ,
				image_url = @image_url 
				where user_id = @user_id;
			 
        SELECT '';
    END;
GO
